body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-image: url(./images/donation10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 669px;
}

.header-div {
    position: absolute;
    text-align: center;
    padding: 174px 307px;
    text-align: center;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    border: 1px solid #000000;
    height: 319px;
}

header h1 {
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}


header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}

.donate {
    background-color: #FF5959;

    padding: 12px 16px;
    border-radius: 7px;
    margin-top: 20px;
    border: none;
}

.donation {
    text-align: center;
    padding-top: 100px;

}

.hadith {
    font-size: 1.5em;
}

.amount {
    font-size: 30px;
    Width: 135px;
    Height: 123px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FAFAFA;
    border: none;
    margin: 10px;
}

.tk200 {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
    color: #FF5959;
}

h4 {
    font-size: 24px;
}

.other-amount {
    width: 50%;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #DADADA;
    margin-top: 60px;
}

.donation-project {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.donation-area {
    width: 360px;
    height: 352px;
    margin: 10px;
    padding: 0 22px 54px 22px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.donation-area:nth-child(1) {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.donation-area:nth-child(2) {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.donation-area:nth-child(3) {
    background: #FFF4D6;
    border-radius: 5px;
}

.icon {
    height: 33px;
    width: 33px;
}

.get-update {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
}

/* .updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.updates h2 {
    font-size: 54px;
}

.support-us {
    display: flex;
    justify-content: space-evenly;
}

.support-us img {

    height: 477px;
}

.contribute {
    width: 482px;
    margin: 10px;
    text-align: justify;
}

/* .email {
    position: absolute;
    height: 200px;
    width: 809;
    background-color: #FFF4D6;

} */

footer {
    background-color: #0B0D17;
    height: 177px;
    text-align: center;
    justify-content: center;
    color: #DADADA;
    padding-top: 43px;
}